<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="coherence" type="Tangosol.Config.CoherenceConfigHandler, Coherence"/>
  </configSections>
  <coherence>
    <pof-config>assembly://pof/pof.config/pof-config.xml</pof-config>
    <cache-config>assembly://pof/pof.config/coherence-cache-config.xml</cache-config>
    <cache-factory-config>assembly://pof/pof.config/coherence.xml</cache-factory-config>
  </coherence>
</configuration>